@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@300;500&display=swap');
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/sources.css");

body {
  font-family: 'Open+Sans:wght@400;700', serif;
  font-size: 18px;
  margin: 0px;
  background-color: rgb(182,211,105);
}

h1, h2, h3 {
  font-family: 'Oswald:wght@300;500', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}